---
layout: default
class: home
---

<div class="banner-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="carousel">
					<div class="card active">
						<div class="tile">
							<p>Now you can book a routine appointment with a local GP or nurse 8am to 8pm, seven days a week</p>
							
							<p><a class="btn" href="/about/">Find out more</a></p>
						</div>
					</div>

					<div class="card">
						<div class="tile">
							<p class="bold">"It was really good to see a doctor on a Saturday"</p>
							<p>Patient at I:HUB @ Ritchie Street</p>
							
							<p class="bold">"Good care. Fast service. Great attentive nurse"
							<p>Patient at I:HUB @ Hornsey Road</p>
							
							<p class="bold">"Quick &amp; helpful from start to finish. On a Sunday"</p>
							<p>Patient at I:HUB @ Laycock Street</p>

							<p><a class="btn" href="/reviews/">More reviews</a></p>
						</div>
					</div>

					<div class="card">
						<div class="tile">
							<p>Simply call your GP surgery and ask for an I:HUB appointment</p>

							<p><a class="btn" href="/make-appointment/">Call now</a></p>
						</div>
					</div>

					<div class="carousel-nav">
						<div class="circle active"></div>
						<div class="circle"></div>
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="banner-tag">
		<img src="assets/img/nhs-w.png"/>
		<p>GP hubs in Islington are run by</p>
		<img src="assets/img/igpf-logo.png"/>
	</div>

	<div class="banner"></div>
</div>

<div class="container">
	<div class="row tiles">
		<div class="col-md-7">
			<div class="tile">
				<p><span class="header">I:HUB is</span> a service run by Islington GPs that offers future and on the day routine GP and nurse appointments every weekday evening and all day on weekends and bank holidays. Any Islington NHS patient can get an appointment by simply phoning their own GP surgery to request one.</p>

				<p>The local GPs and nurses have full access to your medical records to provide the best possible care. Whether it's a routine appointment, check up or annual review you will get the same care as at your usual practice.</p>
				
				<p><a class="btn" href="/about/">More about us</a></p>
			</div>

			<div class="tile color-bar">
				<h2>What appointments are on offer?</h2>
				
				<p>I:HUB clinics offer the same service as your usual GP in five Islington GP surgeries across the borough. You may be able to get an appointment that better suits you and your families needs. Your I:HUB clinician can see your notes and your usual GP will get an immediate notification about your I:HUB consultation.</p>

				<p>Islington patients use I:HUB clinics for routine health problems, reviews (such as asthma, smears, diabetes), dressings, sexual &amp; mental health, childhood &amp; travel imms. I:HUB can&rsquo;t offer home visits. Just phone or visit your GP and ask about an I:HUB appointment.</p>

				<p><a class="btn" href="/make-appointment/">Book Appointment</a></p>
			</div>

			<div class="tile color-bar">
				<h2>Need to get to an existing appointment?</h2>
				
				<p>Got an appointment but don&rsquo;t know how to get there? Use our Hub finder system <a href="make-appointment">here</a>.</p>

				<p><a class="btn" href="/get-to-appointment/">Get to an I:HUB</a></p>
			</div>
		</div>

		<div class="col-md-5">
			<div class="tile">
				<h2>Now you can...</h2>

				<ul class="pro-list">
					<li>...see a doctor after work or at the weekend</li>

					<li>...talk to a GP on the phone if you're worried</li>

					<li>...request a test without waiting for ages</li>

					<li>...get medicine if you run out, without visiting hospital</li>

					<li>...have more choice where you see a GP or nurse</li>
				</ul>

				<p>
					<a class="btn" href="/make-appointment/">Book Appointment</a>
				</p>
			</div>

			{% include sidebar/sidebar1.html %}

			{% include sidebar/sidebar3.html %}
		</div>
	</div>
</div>