body.test {
	.trow {
		width: 1100px;
		height: 100px;
		@extend .cf;

		.tcol {
			width: 100px;
			height: 100px;
			float: left;
			position: relative;

			&:before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: '';
			}
		}

		&:nth-child(1) {
			.tcol {				
				@for $i from 0 through 10 {
					&:nth-child(#{$i+1}) {
						background: darken($color-accent, ($i*10)*1%);
					}
				}
			}
		}

		&:nth-child(2) {
			.tcol {				
				@for $i from 0 through 10 {
					&:nth-child(#{$i+1}) {
						background: toblack($color-accent, ($i/10));
					}
				}
			}

		}

		&:nth-child(3) {
			.tcol {		
				background: $color-accent;		
				@for $i from 0 through 10 {
					&:nth-child(#{$i+1}):before {
						background: rgba(black, ($i/10));
					}
				}
			}
		}

		&:nth-child(4) {
			.tcol {
				@for $i from 0 through 10 {
					&:nth-child(#{$i+1}) {
						background: mix(black, $color-accent, ($i*10)*1%);
					}
				}
			}
		}

		&:nth-child(5) {
			.tcol {				
				@for $i from 0 through 10 {
					&:nth-child(#{$i+1}) {
						background: lighten($color-accent, ($i*10)*1%);
					}
				}
			}
		}

		&:nth-child(6) {
			.tcol {				
				@for $i from 0 through 10 {
					&:nth-child(#{$i+1}) {
						background: towhite($color-accent, ($i/10));
					}
				}
			}

		}

		&:nth-child(7) {
			.tcol {		
				background: $color-accent;		
				@for $i from 0 through 10 {
					&:nth-child(#{$i+1}):before {
						background: rgba(white, ($i/10));
					}
				}
			}
		}

		&:nth-child(8) {
			.tcol {
				@for $i from 0 through 10 {
					&:nth-child(#{$i+1}) {
						background: mix(white, $color-accent, ($i*10)*1%);
					}
				}
			}
		}
	}
}