// ---- Color Definitions ---- //

// eg:
// $my-color: #f00;
$green: #BDC71E;
$purple: #dd6ca6;

// ---- Color Settings ---- //

$color-primary: $nhs-darkblue;
$color-secondary: mix($nhs-lightblue, $nhs-darkblue);
$color-accent: $purple;

$color-success: #5cb85c;
$color-error: #b72c27;

$color-text: #666;
$color-header: $color-text;
$color-link: $color-primary;
$color-selection: $color-primary;

$color-btn-bg: $color-secondary;
$color-btn-text: white;

$color-nav: $color-primary;

$color-navlink-bg: transparent;
$color-navlink-text: rgba(white, 0.7);
$color-navlink-bg-hover: transparent;
$color-navlink-text-hover: white;

$color-bg: #eee;
$color-footer: $color-nav;






