@import 'colors';
@import 'fonts';
@import 'grid';

// Go to variables/colors to change colors

// GENERAL

$rounded-corners: false;
$border-radius: if($rounded-corners, 3px, 0);

$transition-default-duration: 0.15s;
$transition-default-easing: ease-out;
$transition-default: $transition-default-duration all $transition-default-easing;

// THE NAV BAR

$nav-fixed: true;
$nav-fullwidth: false;
$nav-shadow: true;

$nav-height: 70px;
$nav-height-xs: 50px;

$nav-logo-height: $nav-height - 20px;
$nav-logo-height-xs: $nav-height-xs - 20px;

$nav-fontsize: 18px;
$nav-fontsize-xs: 14px;

$nav-link-underline: false;

$nav-link-padding-hor: 15px;
$nav-link-padding-hor-xs: 15px;

$nav-link-fullheight: true;
$nav-link-padding-ver: 15px;
$nav-link-padding-ver-xs: 9px;

$nav-link-spacing: 0px;
$nav-link-spacing-xs: 0px;

$nav-link-cta-extraspacing: true;
$nav-link-cta-underline: false;

// THE FOOTER

$footer-height: 70px;
$footer-height-xs: 50px;










