$frutiger-font-path: '../fonts/frutiger';

@font-face {
	font-family: 'Frutiger';
	font-style: normal;
	font-weight: 400;
	src: url('#{$frutiger-font-path}/frutiger-roman-webfont.eot');
	src: url('#{$frutiger-font-path}/frutiger-roman-webfont.woff') format('woff'),
		url('#{$frutiger-font-path}/frutiger-roman-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Frutiger';
	font-style: normal;
	font-weight: 700;
	src: url('#{$frutiger-font-path}/frutiger-bold-webfont.eot');
	src: url('#{$frutiger-font-path}/frutiger-bold-webfont.woff') format('woff'),
		url('#{$frutiger-font-path}/frutiger-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Frutiger';
	font-style: normal;
	font-weight: 200;
	src: url('#{$frutiger-font-path}/frutiger-light-webfont.eot');
	src: url('#{$frutiger-font-path}/frutiger-light-webfont.woff') format('woff'),
		url('#{$frutiger-font-path}/frutiger-light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Frutiger';
	font-style: normal;
	font-weight: 800;
	src: url('#{$frutiger-font-path}/frutiger-black-webfont.eot');
	src: url('#{$frutiger-font-path}/frutiger-black-webfont.woff') format('woff'),
		url('#{$frutiger-font-path}/frutiger-black-webfont.ttf') format('truetype');
}

