@mixin burger(
	$padding: 15px,
	$layer-width: 40px,
	$layer-height: 4px,
	$layer-spacing: 6px,
	$color: #fff,
	$border-radius: 4px,
	$transition-duration: 0.5s
	) {

	/* credit: https://jonsuh.com/hamburgers/ */

	$hamburger-padding: $padding;
	$hamburger-layer-width: $layer-width;
	$hamburger-layer-height: $layer-height;
	$hamburger-layer-spacing: $layer-spacing;
	$hamburger-layer-color: $color;
	$hamburger-layer-border-radius: $border-radius;

	$hamburger-hover-transition-duration: $transition-duration !default;
	$hamburger-hover-transition-timing-function: linear !default;

	width: $hamburger-layer-width + 2 * $hamburger-padding;
	height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2  + 2 * $hamburger-padding;
	display: inline-block;
	position: relative;
	cursor: pointer;

	& > span {
		display: block;
		margin-top: $hamburger-layer-height / -2;
		bottom: $hamburger-padding;
		left: $hamburger-padding;
		transition-duration: (0.15*2*$transition-duration);
		transition-delay: (0.15*2*$transition-duration);
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

		&,
		&::before,
		&::after {
			width: $hamburger-layer-width;
			height: $hamburger-layer-height;
			background-color: $hamburger-layer-color;
			border-radius: $hamburger-layer-border-radius;
			position: absolute;
			transition-property: transform;
			transition-duration: (0.15*2*$transition-duration);
			transition-timing-function: ease;
		}

		&::before,
		&::after {
			content: "";
			display: block;
		}

		&::before {
			top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
			transition: top (0.12*2*$transition-duration) (0.3*2*$transition-duration) cubic-bezier(0.33333, 0.66667, 0.66667, 1),
				transform (0.15*2*$transition-duration) cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		&::after {
			bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
			top: ($hamburger-layer-spacing * 2 + $hamburger-layer-height * 2) * -1;
			transition: top (0.3*2*$transition-duration) (0.3*2*$transition-duration) cubic-bezier(0.33333, 0.66667, 0.66667, 1),
				opacity (0.1*2*$transition-duration) linear;
		}
	}

	&.open > span {
		transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(-45deg);
		transition-delay: (0.32*2*$transition-duration);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

		&::after {
			top: 0;
			opacity: 0;
			transition: top (0.3*2*$transition-duration) cubic-bezier(0.33333, 0, 0.66667, 0.33333),
				opacity (0.1*2*$transition-duration) (0.27*2*$transition-duration) linear;
		}

		&::before {
			top: 0;
			transform: rotate(-90deg);
			transition: top (0.12*2*$transition-duration) (0.18*2*$transition-duration) cubic-bezier(0.33333, 0, 0.66667, 0.33333),
				transform (0.15*2*$transition-duration) (0.42*2*$transition-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}