.btn, 
a.btn {
	@extend .noselect;
	background: $color-btn-bg;
	color: $color-btn-text;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	line-height: 1;
	padding: 0.8em;
	border-radius: if($rounded-corners, $border-radius, 0px);
	@include transition($transition-default);
	// transition-property: background border-bottom;

	&:hover {
		background: toblack($color-btn-bg, 0.1);
	}
}

@mixin btn-color($color) {
	background: $color;

	&:hover {
		background: toblack($color, 0.1);
		//background: mix(black, $color, 10%);
	}
}

.btn.phone {
	padding: 0.64em;
	position: relative;
	margin-bottom: 1em;

	.fa {
		font-size: 1.2em;
		line-height: 1px;
		position: relative;
		top: 0.1em;
	}
}
