.pro-list,
.con-list {
	margin-top: 0;
	padding-left: 2em;
	list-style-type: none;
	text-align: left;

	li {
		text-align: left;
		margin: auto;
	}

	li:before {
		position: absolute;
		margin-left: -1.3em;
		font-weight: bold;
	}
}

.pro-list {
	li:before {
		content: "\2713";
		color: $color-primary;
	}
}

.con-list {
	li:before {
		content: "\2717";
		color: crimson;
	}
}

.inverted {
	.pro-list,
	.con-list {
		li:before {
			color: $white;
		}
	}
}

.procon-list {
	font-size: 1.2em;
	
	td {
		vertical-align: top;
	}
}