footer.footer-main {
	background: $color-footer;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $footer-height;
	@include xs { height: $footer-height-xs; }
	overflow: hidden;
	@include shadow(1);

	a,
	a:hover,
	a:visited {
		color: white;
	}

	.footer-left, .footer-right {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		color: white;
	}

	.footer-left {
		left: if($nav-fullwidth, $gutter-width, $half-gutter);
		@include xs { left: $half-gutter; }		
		font-size: 0.9em;
	}

	.footer-right {
		right: if($nav-fullwidth, $gutter-width, $half-gutter);
		@include xs { right: $half-gutter; }
		text-align: right;
		height: 100%;
		padding: 1em 0;

		img {
			height: 100%;
		}
	
	}
	
}
