body {	
	background: $color-bg;
	color: $color-text;
	font-family: $font-default;
	line-height: $line-height;	
	@each $bp, $val in $font-size-bp {
		@include bp($bp, only) { font-size: $val; }
	}
}

a, a:hover, a:active, a:visited {
	color: $color-link;
	text-decoration: none;
}

a.not-colored {
	&, &:hover, &:active, &:visited {
		color: $color-text;
	}
}

h1, h2, h3, h4, h5, h6,
.header {
	color: $color-header;
	font-family: $font-header;
	font-weight: bold;
	padding: 0;
	line-height: 1.2;
}

h1,
.header {
	font-size: 1.8em;
}

h2 { 
	font-size: 1.4em;
}

p, h1, h2, h3, h4, .text-el {
	@each $bp, $val in $font-size-bp {
		@include bp($bp, only) { margin: $val 0; }
	}
}

// @include xs { #{$text-els} { margin: 0 0 $font-size-xs; } }
// @include sm { #{$text-els} { margin: 0 0 $font-size-sm; } }
// @include md { #{$text-els} { margin: 0 0 $font-size-md; } }
// @include lg { #{$text-els} { margin: 0 0 $font-size-lg; } }

li {
	list-style: none;
	text-decoration: none;
}

::selection {
	background: $color-selection;
	color: $white;
}

input,
select {
	border: 1px solid tr(0.15);
	border-radius: if($rounded-corners, $border-radius, 0px);
	outline: 0 !important;
	font-size: 1em;
	padding: 1em;
}

select {
	width: 100%;
}

button,
input[type="submit"] {
	border: 0;
	outline: 0;
}

// for js media query detection
.is-xs, .is-sm, .is-md, is-lg {
	display: none;
}

@include xs {
	.is-xs {
		content: 'foo';
	}
}
@include bp(sm, only) {
	.is-sm {
		content: 'foo';
	}
}
@include bp(md, only) {
	.is-md {
		content: 'foo';
	}
}
@include bp(lg, only) {
	.is-lg {
		content: 'foo';
	}
}